@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

.container {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    margin: 60px 0 0 0;
}